* {
    margin: 0;
    padding: 0;
}


.main-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: 150px 4fr;
}

.header {
    background-color: white;
    box-shadow: 0px 3px 5px rgb(150, 150, 150);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    z-index: 500; /*show shadow on content*/


    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.dashboard {
    font-size: 1.5rem;
}

.sidebar {
    color: white;
    background-color: rgb(6, 149, 245);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: 501; /*cover left shadow of header*/
    padding: 10px 30px;

    display: grid;
    grid-template-rows: 1.5rem 6rem 3rem;
    gap: 50px;

}

.sidebar ul {
    list-style-type: none;
}

.content {
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1rem 1fr;
    gap: 5px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.card {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 3px 3px 5px rgb(150, 150, 150);
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.announcements-background {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(150, 150, 150);
    margin: 10px 0px 30px;

}

.top-announcement,
.middle-announcement {
    border-bottom: 1px solid lightgray;
}

.top-announcement {
    padding: 5px 0px 20px;
}

.middle-announcement {
    padding: 20px 0px 20px;
}

.bottom-announcement {
    padding: 20px 0px 0px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}